    body{
    margin: 0;
}

/* Начало панели инструментов и разметки 
страницы(можно смело вставлять на другие страницы) */

html::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
    height: 16px;
}

html::-webkit-scrollbar-thumb {
    background-color: rgba(186,186,192,.502);
    border-radius: 16px;
    border: 5px solid #fff;
}

.highsidepanel{
    display: grid;
    overflow: auto;
    grid-template-columns: minmax(280px,380px) 1fr;
    grid-template-rows: 100vh;
}


 .highsidepanel::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
    height: 16px;
}

.highsidepanel::-webkit-scrollbar-thumb {
    background-color: rgba(186,186,192,.502);
    border-radius: 16px;
    border: 5px solid #fff;
}

.sidepanel{
    overflow-x:hidden;
    overflow-y: auto;
    display: grid;
    background: linear-gradient(180deg, #6996ED 0%, #728ED7 52.08%, #9896DB 100%);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    position: relative;
    top: 0;
    left: auto;
    grid-template-columns: 100%;
    grid-template-rows: 80px 61px 400px 1fr 1fr;
}

.sidepanel::-webkit-scrollbar{
    display: none
}


.account{
    display:grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
    border-bottom: 1px white solid;
}
.accountavatar{
    width: 80px;
}
.accountname{
    font-family: Fira Sans;
    font-size: 20px;
    line-height: 24px;
    color: white;
    text-align: center;
}
.mainsearch{
    margin-left:6px ;
    margin-right:6px;
    margin-top:16px;
    display: grid;
    grid-template-columns: 11.2% 88.8%;
    align-items: center;
    justify-content: center;
    background: #EEEEEE;
    box-shadow: 0px 4px 4px #00000040;
    border-radius: 30px;
    grid-template-rows: 45px;
}
.lupa{
    margin-left: 9px;
}
.mainsearchform{
    outline: none;
    border: none;
    font-family: Fira Sans;
    background:0;
    font-size: 15px;
    line-height: 18px;
}
.margintools{
    margin-left: 22%;
}
.maintools{
    margin: 0;
    padding: 0;
    display: grid;
    list-style-type: none;
    row-gap:8px;
    margin-top: 14px;
}
.maintools a{
    font-family: Roboto;
    font-size: 20px;
    line-height: 23px;
    color:white;
    text-decoration: none;
}
.maintools li{
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    
}
.maintools li:hover{
    background: rgba(255, 255, 255, 0.14);
}
#areas{
    overflow-x:hidden;
    overflow-y: auto;  
    margin-left:33px;
}
#areas li{
    color: white;
    font-family: Fira Sans;
    font-weight:normal;
    font-size: 15px;
    line-height: 18px;
}


#areas li{
    display:none;
}
  
#areas.expand li{
    display:list-item;
}

#areas.changesize{
    height: 90px
}

#areas::-webkit-scrollbar {
    background-color: none;
    width: 6px;
    height: 16px;
    display: none;
}

#areas::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 16px;
}

#areas:hover::-webkit-scrollbar{
    display: block;
}



.area{
    margin-top: 16.25px ;
    display: flex;
    align-items: center;
    margin-left: 6%;
    grid-template-columns: 22.5% 77.5%;
    
}
.mainareas{
    margin-left: 13px;
    font-family: "Fira Sans";
    font-size: 25px;
    line-height: 30px;
    color: white;
}

#opencloseareas{
    transform: rotate(-90deg);   
    margin-top: 3px;
    margin-left: 10px;
    padding: 0;
    background: 0;
    border: none;
}

#opencloseareas.anime{
    transform: rotate(0deg);    
}

.project{
    overflow:hidden;
    text-overflow: ellipsis;
    white-space:pre-wrap;
    word-break:break-all;
    text-decoration: none;
    font-family: "Fira Sans";
    font-size:15px;
    width: 60px;
    height: 18px;
    line-height: 18px;
    color:white;
}

.projectnow{
    text-decoration: none;
    font-family: "Fira Sans";
    font-size:20px;
    line-height: 18px;
    color:white;
    font-weight: 800;
}

.project:hover{
    text-decoration-line: underline;
}
.addnewarea{margin-left:54px;}

#newproject{
    background: 0;
    border: none;
    font-family: "Fira Sans";
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: white;
}

#newproject:hover{
    text-decoration-line: underline;
}

.exit{
    display: grid;
    margin-top: 120px;
    align-items: center;
    grid-template-columns: 40px 1fr;
    font-family: Roboto;
    font-size: 20px;
    line-height: 23px;
    color:white;
    text-decoration: none;
    margin-bottom: 30px;
    column-gap: 23px;
    margin-left: 6%;
}
/* Конец панели инструментов*/

.maincontent{
    background: #EEEEEE;
    display: flex;
    flex-direction: column;
}

.nav{
display: flex;
align-items: center;
justify-content: space-between;
height: 70px;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.infofield{
display: flex;
margin-left: 42px;
align-items: center;
justify-content:start;
}

.namenavproj{
    font-weight: bold;
    font-family: Roboto;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.navdot{
    margin-left:8px;
    margin-right: 8px;
}

.namenav{
    font-weight: 700;
    margin-left: 8px;
    font-family: Roboto;
    font-size: 20px;
    line-height: 23px;
    color: #535353;
}

#sharebut{
    align-items: center;
    justify-content: center;
    display: flex;
    background: rgba(196, 196, 196, 0.3);
    width: 136px;
    height: 41px;
    border-radius: 20px;
    margin-right: 42px;
    border:none;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 800;
    line-height: 23px;
    color: #000000;
}

#sharebut:hover{
    background: #999898;
}

.beforenav{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    height: 32px;
    background: #D8676E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.searchnav{
    display: flex;
    align-items: center;
}

.searchinput{
    width: 220px;
    height: 18px;
    background: 0%;
    border: none;
    outline: none;
    border-right: 1.5px solid #000000;
}

.searchinput::placeholder{
    font-family: Fira Sans;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    font-weight: bold;
}

.today{
    margin-left:12px;
    background: #F3F2F2;
    border-radius: 20px;
    border:none;
    font-family: Fira Sans;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    font-weight: bold;
}

.today:hover{
    background: #999898;
}

.paging{
    background: none;
    border:none;
}

.paging svg:hover{
    color: white;
}

.namemonth{
    font-family: Fira Sans;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    font-weight: bold;
}

.daysweek{
    background: white;
    display: flex;
    height: 60px;
    justify-content: start;
    align-items: center;
}

.dayweek{
    display: flex;
    align-items: center;
    height: 60px;
    border-right: 1px solid #000000;
    margin-left: 12px;
    width: 100%;
    font-family: Fira Sans;
    font-weight:800;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.dayweekpn{
    align-items: center;
    height: 60px;
    border-right: 1px solid #000000;
    display: flex;
    width: 100%;
    margin-left:12px;
    font-family: Fira Sans;
    font-weight:800;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.dayweekvs{
    border-right: 1px solid #000000;
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    margin-left: 12px;
    font-family: Fira Sans;
    font-weight:800;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.boxdayfirst{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

/* .boxdayfirstal{
    width: 100%;
    border: 1px solid #4C80E4; - для today
} */

.calendarcow{
    min-height: 192px;
    width:100%;
    display: flex;
    justify-content: space-between;
}

.calendar{
    background: white;
    overflow-x:hidden;
    overflow-y: auto;  
}

.calendar::-webkit-scrollbar {
    display: none;
}


.footertask{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
}

.dateadd{
    display: flex;
    align-items: center;
}

.hidentasks{
    display: flex;
    align-items: center;
    width: max-content;
    margin-left: 8px;
    margin-right: auto;
    padding: 0;
    justify-content: flex-start;
    border: none;
    background: none;
    font-family: Fira Sans;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #505050;
}



.hidentasks:hover{
    color: #000000;
    font-weight:bold;
    text-decoration-line: underline;
}



.addtaskcal{
    margin-top:3px;
    padding: 0;
    background: none;
    border: none;
    opacity:0;
}

.addtaskcal:hover{
    opacity:100%;
}

.datecal{
    display: flex;
    margin-left: 7px;
    margin-right: 11px;
    justify-content: end;
    font-family: Fira Sans;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #505050;
}

.taskcontent{
    display: flex;
    flex-direction: column;
    height: auto
}

.taskcontent::-webkit-scrollbar{
    display: none;
}

.nametaskcal{
    background: none;
    padding: 0;
    border: none;
    width: 230px;
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}

.nametaskcal:nth-child(n+5){
    display: none;
}

.nametaskcal.hidenta{
    display: flex;
}

.nametaskcal:hover{
    background: #E2E2E2;
}

.prioritytaskcal{
    margin-left: 12px;
    margin-right: 12px;
}

.taskareacal{
    align-items: center;
    display: flex;
    width: 142px;
    height: 40px;
}

.taskareacal span{
    overflow:hidden;
    text-overflow: ellipsis;
    white-space:pre-wrap;
    word-break:break-all;
    display: flex;
    width: 142px;
    height: 20px;
    text-align: start;
    font-size: 17px;
    line-height: 20px;
    font-family: Fira Sans;
    font-weight: 700;
    color: #000000;
}

.taskareacal::-webkit-scrollbar{
    display: none;
}

.timetaskcal{
    margin-left: 8px;
    margin-right: 8px;
    font-family: Inconsolata;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
}

.formtask-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
}
.formtask {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #ffffff;
    width: 95%;
    height: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    box-sizing: border-box;
    border-radius: 20px;
}
.formtask-nav {
    align-items: center;/*центрально по вертикали*/
    display: flex;
    height: 6%;
    background: #EFF0F3;
    border: 1px solid #C1C1C1;
    box-sizing: border-box;
    border-radius: 20px 20px 0px 0px;
    flex-shrink: 0;/*размер не будет растягиваться под воздействием флексбокса*/
    justify-content: space-between;
}
.path{
    display: flex;
    align-items: center;
    margin-left: 1%;
}
.projectname {/*имя проекта в пути*/
    overflow:hidden;
    text-overflow: ellipsis;
    font-family: Roboto;
    font-size: 18px;
    line-height: 20px;
    height: 20px;
    min-width: auto;
    max-width:200px;
}
.formtaskname {/*имя задачи в пути*/
    overflow:hidden;
    text-overflow: ellipsis;
    /* white-space:pre-wrap; */
    height: 20px;
    min-width: auto;
    max-width:200px ;
    font-family: Roboto;
    font-size: 18px;
    line-height: 20px;
}
.formtaskname::-webkit-scrollbar{
    display: none;
}
.formtask-content-field{
    display: flex;
    border-bottom: 1px solid #C1C1C1;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;

color: #000000;
    height: 100%;
}

.formtask-content {
    width: 100%;
    margin: 3%;
    border: none;
    height: 1fr;
    align-items:flex-start;
}
.formtask-info-field {
    display: flex;
    flex-direction: column;
    height: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
    /* border-bottom: 1px solid #C1C1C1; */
}



.formtask-activityarea {
    display: flex;
    align-items: center;
    height: 30%;
    margin-left: 3%;
}

.formtask-activityarea span{
    font-family: Fira Sans;
    font-style: normal;
    font-weight:900;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-right: 13px;
}
.activityarea-field {
    display: flex;
    align-items: center;
    height: 100%;
}
.activityarea-field span{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin: 2px;
    color: #000000;
}
.delete-field {
    border: none;
    background: none;
    padding: 0;
    text-align: center;
}
.formtask-deadline {
    margin-left: 3%;
    display: flex;
    align-items: center;
    height: 30%;
}

.formtask-deadline span{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-right: 13px;
}

.date-deadline{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-right:5px;
}
.time-deadline{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;

    margin-right:5px;
}

.status-formtask{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.formtask-priority {
    margin-left: 3%;
    display: flex;
    align-items: center;
    height: 30%;
}

.formtask-priority span{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-right: 13px;
}

.formtask-statusimg{
    margin-right: 5px;
}

.formtask-statusname{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
